{{outlet}}
<legend><h1>Travis and Jake's Crazy Adventures</h1></legend>

<ul>
  {{#each model as |blog|}}
    {{blog-tile blog=blog destroyBlog="destroyBlog"}}
  {{/each}}
</ul>

{{new-blog save="save"}}
<br>

{{outlet}}
